body{
	background-color:white;
	-moz-user-select: none;
	  -khtml-user-select: none;
	  -webkit-user-select: none;
	  user-select: none;
}

canvas{
	overflow:auto;
}

.body{

}

button{
color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}

button:hover{
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}

button:active{
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}

#advance_box{
	//width:300px;
	//height:450px;
	background-color:black;
	position:fixed;
	left:10px;
	top:10px;
	color:white;
	font-family:"Trebuchet MS";
	padding:5px;
}

#advance_box:hover{
	//opacity:0.7;
	//filter:alpha(opacity=70); /* For IE8 and earlier */
}

#tooltip.left, #tooltip.right{
	padding:5px;
	position:fixed;
	width:200px;
	//background-color:black;
	color:black;
	font-family:"Trebuchet MS";
	min-height:50px;
	
	//width: 200px;
	//height: 100px;
	//line-height: 100px;
	background-color: #fff;
	border: 8px solid #666;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
	
	/*width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 200px 200px 0 0;
	border-color: #007bff transparent transparent transparent;*/
}

#tooltip.left:before
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 210px;
	top: 0px;
	border: 25px solid;
	border-color: #666 transparent transparent #666;
	
	/*width: 0px;
	height: 0px;
	left: 205px;
	top: 0px;
	border-style: solid;
	border-width: 200px 200px 0 0;
	border-color: #007bff transparent transparent transparent;*/
}

#tooltip.right:before
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -50px;
	top: 0px;
	border: 25px solid;
	border-color: #666 #666 transparent transparent;
	
	/*width: 0px;
	height: 0px;
	left: 205px;
	top: 0px;
	border-style: solid;
	border-width: 200px 200px 0 0;
	border-color: #007bff transparent transparent transparent;*/
}

#tooltip.left:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 205px;
	top: 8px;
	border: 15px solid;
	border-color: #fff transparent transparent #fff;
}

#tooltip.right:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -25px;
	top: 8px;
	border: 15px solid;
	border-color: #fff #fff transparent transparent ;
}

.hide{
	visibility:hidden;
}
.unhide{
	//opacity:0.8;
	//filter:alpha(opacity=80); /* For IE8 and earlier */
}

#tool_box{
	display:block;
	position:fixed;
	right:22px;
	top:10px;
	padding:5px;
	color:white;
	width:170px;
	//height:470px;
	font-family:"Trebuchet MS";
	background-color:black;
	//background: rgb(184,198,223); /* Old browsers */
	//background: -moz-linear-gradient(left,  rgba(109,136,183,1) 0%, rgba(184,198,223,1) 100%); /* FF3.6+ */
	//background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(109,136,183,1)), color-stop(100%,rgba(184,198,223,1))); /* Chrome,Safari4+ */
	//background: -webkit-linear-gradient(left,  rgba(109,136,183,1) 0%, rgba(184,198,223,1) 100%); /* Chrome10+,Safari5.1+ */
	//background: -o-linear-gradient(left,  rgba(109,136,183,1) 0%, rgba(184,198,223,1) 100%); /* Opera 11.10+ */
	//background: -ms-linear-gradient(left,  rgba(109,136,183,1) 0%, rgba(184,198,223,1) 100%); /* IE10+ */
	//background: linear-gradient(to right,  rgba(109,136,183,1) 0%, rgba(184,198,223,1) 100%); /* W3C */
	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d88b7', endColorstr='#b8c6df',GradientType=1 ); /* IE6-9 */

}

.shapes{
	margin-left:5px;
	border:solid black;
}

.shapes:hover{
	cursor:pointer;
}

.selected_shapes{
	margin-left:5px;
	color:lightBlue;
	border:solid;
}

.selected_shapes:hover{
	cursor:pointer;
}

.shapes2{
	margin-left:5px;
	border:solid black;
}

.shapes2:hover{
	cursor:pointer;
}

.selected_shapes2{
	margin-left:5px;
	color:lightBlue;
	border:solid;
}

.selected_shapes2:hover{
	cursor:pointer;
}

td, th{
	//font-size:1.0em;
	border:1px solid #780000 ;
	//padding:3px 7px 2px 7px;
	padding:5px;
}

td{
	background-color:white;
	color:black;
}

th{
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');

}

table{
	//font-family:"Trebuchet MS";
	//width:100%;
	border-collapse:collapse;

}
